In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
url = "https://books.toscrape.com/catalogue/page-1.html"

In [5]:
response = requests.get(url)
response = response.content

In [7]:
soup = BeautifulSoup(response,'html.parser')

In [9]:
ol = soup.find('ol')

In [10]:
articles = ol.find_all('article', class_ = 'product_pod')

for article in articles:
    image = article.find('img')
    title = image.attrs['alt']
    print(title)

A Light in the Attic
Tipping the Velvet
Soumission
Sharp Objects
Sapiens: A Brief History of Humankind
The Requiem Red
The Dirty Little Secrets of Getting Your Dream Job
The Coming Woman: A Novel Based on the Life of the Infamous Feminist, Victoria Woodhull
The Boys in the Boat: Nine Americans and Their Epic Quest for Gold at the 1936 Berlin Olympics
The Black Maria
Starving Hearts (Triangular Trade Trilogy, #1)
Shakespeare's Sonnets
Set Me Free
Scott Pilgrim's Precious Little Life (Scott Pilgrim #1)
Rip it Up and Start Again
Our Band Could Be Your Life: Scenes from the American Indie Underground, 1981-1991
Olio
Mesaerion: The Best Science Fiction Stories 1800-1849
Libertarianism for Beginners
It's Only the Himalayas

In [13]:
for article in articles:
    star = article.find('p')
    star = star.attrs['class'][1]
    print(star)

Three
One
One
Four
Five
One
Four
Three
Four
One
Two
Four
Five
Five
Five
Three
One
One
Two
Two

In [14]:
for article in articles:
    price = article.find('p',class_ = 'price_color').text
    price = float(price[1:])
    print(price)

51.77
53.74
50.1
47.82
54.23
22.65
33.34
17.93
22.6
52.15
13.99
20.66
17.46
52.29
35.02
57.25
23.88
37.59
51.33
45.17

In [25]:
book = []

for pages in range (1,5):
 url = f"https://books.toscrape.com/catalogue/page-{pages}.html"
 response = requests.get(url)
 response = response.content
 soup = BeautifulSoup(response,'html.parser')
 ol = soup.find('ol')
 articles = ol.find_all('article', class_ = 'product_pod')

 for article in articles:
    image = article.find('img')
    title = image.attrs['alt']
    star = article.find('p')
    star = star.attrs['class'][1]
    price = article.find('p',class_ = 'price_color').text
    price = float(price[1:])
    book.append([title,star,price])

In [ ]:
book

In [27]:
df = pd.DataFrame(book,columns = ['title','star','price'])

In [28]:
df

                                                title   star  price
0                                A Light in the Attic  Three  51.77
1                                  Tipping the Velvet    One  53.74
2                                          Soumission    One  50.10
3                                       Sharp Objects   Four  47.82
4               Sapiens: A Brief History of Humankind   Five  54.23
..                                                ...    ...    ...
75                                           Security    Two  39.25
76      Saga, Volume 6 (Saga (Collected Editions) #6)  Three  25.02
77      Saga, Volume 5 (Saga (Collected Editions) #5)    Two  51.04
78  Reskilling America: Learning to Labor in the T...    Two  19.83
79  Rat Queens, Vol. 3: Demons (Rat Queens (Collec...  Three  50.40

[80 rows x 3 columns]

In [30]:
for pages in range (5,11):
 url = f"https://books.toscrape.com/catalogue/page-{pages}.html"
 response = requests.get(url)
 response = response.content
 soup = BeautifulSoup(response,'html.parser')
 ol = soup.find('ol')
 articles = ol.find_all('article', class_ = 'product_pod')

 for article in articles:
    image = article.find('img')
    title = image.attrs['alt']
    star = article.find('p')
    star = star.attrs['class'][1]
    price = article.find('p',class_ = 'price_color').text
    price = float(price[1:])
    book.append([title,star,price])
    df = pd.DataFrame(book,columns = ['title','star','price'])

In [31]:
df

                                                 title   star  price
0                                 A Light in the Attic  Three  51.77
1                                   Tipping the Velvet    One  53.74
2                                           Soumission    One  50.10
3                                        Sharp Objects   Four  47.82
4                Sapiens: A Brief History of Humankind   Five  54.23
..                                                 ...    ...    ...
315                                  Eureka Trivia 6.0   Four  54.59
316  Drive: The Surprising Truth About What Motivat...   Four  34.95
317            Done Rubbed Out (Reightman & Bailey #1)   Five  37.72
318                  Doing It Over (Most Likely To #1)  Three  35.61
319  Deliciously Ella Every Day: Quick and Easy Rec...  Three  42.16

[320 rows x 3 columns]

In [32]:
for pages in range (1,51):
 url = f"https://books.toscrape.com/catalogue/page-{pages}.html"
 response = requests.get(url)
 response = response.content
 soup = BeautifulSoup(response,'html.parser')
 ol = soup.find('ol')
 articles = ol.find_all('article', class_ = 'product_pod')

 for article in articles:
    image = article.find('img')
    title = image.attrs['alt']
    star = article.find('p')
    star = star.attrs['class'][1]
    price = article.find('p',class_ = 'price_color').text
    price = float(price[1:])
    book.append([title,star,price])
    df = pd.DataFrame(book,columns = ['title','star','price'])

In [33]:
df

                                                  title   star  price
0                                  A Light in the Attic  Three  51.77
1                                    Tipping the Velvet    One  53.74
2                                            Soumission    One  50.10
3                                         Sharp Objects   Four  47.82
4                 Sapiens: A Brief History of Humankind   Five  54.23
...                                                 ...    ...    ...
1315  Alice in Wonderland (Alice's Adventures in Won...    One  55.53
1316   Ajin: Demi-Human, Volume 1 (Ajin: Demi-Human #1)   Four  57.06
1317  A Spy's Devotion (The Regency Spies of London #1)   Five  16.97
1318                1st to Die (Women's Murder Club #1)    One  53.98
1319                 1,000 Places to See Before You Die   Five  26.08

[1320 rows x 3 columns]

In [34]:
df.to_csv('Internship.csv')